/*
    This file is for version EuljiFrame 
    (https://endylan.eulj.io/a/EuljifyHTML)
    Release 1.1.1 Nowon.
    --------------------------------------
    Please update this file if the version number
    on this file and your main HTML does not match
*/

/*
    Warning:
    --------------------------------------
    Do not directly modify this file.
*/

body > :not(.pace), body:before, body:after {
    -webkit-transition: opacity .16s ease-in-out;
    -moz-transition: opacity .16s ease-in-out;
    -o-transition: opacity .16s ease-in-out;
    -ms-transition: opacity .16s ease-in-out;
    transition: opacity .16s ease-in-out;
}

body:not(.pace-done) > :not(.pace), body:not(.pace-done):before, body:not(.pace-done):after {
    opacity: 0;
}